$color-lightest: rgba(237,250,253,1);
$color-light: rgba(174,217,218,1);
$color-mid: rgba(61,218,215,1);
$color-dark: rgba(42,147,213,1);
$color-darkest: rgba(19,85,137,1);
$color-background: #f1f2ef;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #7ed56f;
$color-tertiary-dark: #55c57a;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-grey-dark-2: #999;

$color-heading-primary: #fff;
$color-background-button: white;
$color-black: #000;
$color-white: white;


// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
