.composition {
  position: relative;

  &__photo {
    position: absolute;
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
    border-radius: 2px;
    z-index: 10;
    transition: all .4s;
    outline-offset: 1rem;


    &--p1 {
      left: 8rem;
      top: -2rem;
    }

    &--p2 {
      left: 24rem;
      top: 2.8rem;
    }

    &--p3 {
      left: 28%;
      top: 13rem;
    }

    &:hover {
        outline: .75rem solid $color-darkest;
        -moz-outline-radius: 90%;
        transform: scale(1.15) translateY(-.5rem);
        box-shadow: 0 3rem 4rem rgba($color-black, .4);
        z-index: 20;

    }
  }

  &:hover &__photo:not(:hover) {
      transform: scale(.95);
  }
}
